@model WebEscuelaMVC.Models.Aula
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h1>Registrar Aula</h1>
    @using (Html.BeginForm("Create", "Aula", FormMethod.Post))
    {
        <p>
            @Html.LabelFor(a=> a.Numero)
            @Html.TextBoxFor(a=>a.Numero)
            @Html.ValidationMessageFor(a=> a.Numero)
        </p>

        <p>
            @Html.LabelFor(a=> a.Estado)
            @Html.TextBoxFor(a=>a.Estado)
            @Html.ValidationMessageFor(a=> a.Estado)
        </p>

        <input type="submit" action="Create" />
        @Html.ActionLink("Volver","Index", "Aula")

    }
</body>
</html>
